@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a Engineer</h2>

<hr>

<h4>Add a Engineer to this Machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="add" />
}