@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Delete</h2>

<h4>Delete this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}